* {
  padding: 0;
  margin: 0;
}

#container {
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, white, #add8ff);
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 48vh;
  height: 8vh;
  font-size: 2.7vh;
  border-radius: 1.5vh;
  border-color: black;
  border-style: solid;
  box-shadow: 2px, 2px;
}

button {
  background-color: #021f3b;
  color: #fff;
  width: 100%;
  height: 7vh;
  border-radius: 1.5vh;
  border-style: solid;
  font-size: 2vh;
  font-weight: bold;
}
button:hover {
  background-color: #add8ff;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
  color: #021f3b;
}

a:hover {
  text-decoration: underline;
  color: red;
}

a:active {
  text-decoration: none;
}

.link {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  font-size: 2.8vh;
  font-weight: 600;
}

.logo {
  text-align: center;
}
